.primary {
	background: url(../images/bk_home.jpg) top left no-repeat;
}

.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
}

.primary #header #patient {
	width: 472px;
	height: 160px;
	top: 59px;
	left: 380px;
	position: absolute;
	display: inline-block;
	float: left;
}

.primary #header #patient p {
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

.primary #header #patient p.welcome, p.name, p.phone	{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

.primary #header #patient span#name{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

.primary #header #patient p.location, span#room{ 
	line-height: 28px;
	font-size: 24px;
	text-align: left;
	color: rgba(32,86,125,1.00);
}

.primary #header #patient p.phone, span#tel {
	line-height: 28px;
	font-size: 24px;
	text-align: left;
	color: rgba(32,86,125,1.00);
}

.primary #header #date {
	width: 457px;
	height: 30px;
	top: 181px;
	left: 380px;
	position: absolute;
	display: inline-block;
	float: left;
}

.primary #header #date p {
	line-height: 28px;
	text-align: left;
	color: #04090E;
}

.primary #header #date p.datetime {
	line-height: 28px;
	font-size: 24px;
	text-align: left;
	color: #000000;
	font-weight: normal;
}

.primary #header #streaming	{
	width: 328px;
	height: 185px;
	float: left;
	margin: 25px 0px 0px 882px;
	position: absolute;
	display: inline-block;
	background: rgba(0,0,0,1.00);
}

.primary #header #streaming #slideshow {
	position:absolute; 
	width: 328px; 
	height: 185px;
}

.primary #header #streaming #slideshow img { 
	position:absolute; 
	left:0; 
	top:0; 
}

.primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
}

.primary #menu {
	width: 100%;
	height: 100%;
}

.page.primary #menu .slides {




	position: absolute;
	top: 66px;
	left: 0px;
	width: 1280px;
	height: 436px;


}

.page.primary #menu .slides .slide {
	width: 1280px;
	height: 436px;
	display: none;




}

.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main.jpg') top left no-repeat;








}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main.jpg') top left no-repeat;




}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main.jpg') top left no-repeat;




}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main.jpg') top left no-repeat;





}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main.jpg') top left no-repeat;



}


.primary #menu .major {
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: -2px;
	top: 216px;
}

.primary #menu .major a {
	position: absolute;
	height: 59px;
	margin: 0;
	padding-top: 27px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
	color: rgba(255,255,255,1.00);
	top: -11px;
	font-weight: bold;
	letter-spacing: 1px;
}

.primary #menu .major a.selected {
	font-size: 38px;
	background-repeat: no-repeat;	
	background-color: #3a87bd;
	background-size: cover;
	/*height: 48px;*/
	margin-top: 0px;
	padding-top: 17px;
	color: rgba(244,244,245,1.00);
	border-top-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.primary #menu .major a#menu1 {
	left: 50px;
	width: 260px;	
}

.primary #menu .major a#menu2 {
	left: 284px;
 	width: 300px;
}

.primary #menu .major a#menu3 {
	left: 490px;
	width: 320px;
}

.primary #menu .major a#menu4 {
	left: 752px;
	width: 262px;
}

.primary #menu .major a#menu5 {
	left: 988px;
	width: 255px;
}

.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 285px;

}

.primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	/*background:  rgba(19,56,101,.9);*/
	background: rgba(27,76,111,.96);
	margin: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.primary #menu .minor #menu1-group {
	left: 48px;
	width: 260px;
}

.primary #menu .minor #menu2-group {
	left: 282px;
	width: 300px;
}

.primary #menu .minor #menu3-group {
	left: 488px;
	width: 320px;
}

.primary #menu .minor #menu4-group {
	left: 750px;
	width: 260px;
}

.primary #menu .minor #menu5-group {
	left: 986px;
	width: 255px;
}

.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
}

.primary #revision {
	position: absolute;
	left: 20px;
	bottom: 55px;
	font-size: 12px;
	color: #FFFFFF;
}
